POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-C9EopX3acSQxo9g7ts6cMHigXmPTc1NrNFKhAFqhKjDPhbxf@A
ALLOWED_HOSTS=kittycat.servebeer.com,158.160.6.49,127.0.0.1,localhost
NGINX_PORT=9000
HOST_PORT=80